﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="sel1">Montant souhaité:</label>
                        <select class="form-control" id="sel1">
                            <option>Crédit Auto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Montant Souhaité:</label>
                        <input id="montant" type="text" class="js-range-slider" name="my_range" value="" />
                    </div>
                    <div class="form-group">
                        <label for="sel1">Durée:</label>
                        <input id="duree" type="text" class="js-range-slider" name="my_range" value="" />
                    </div>
                    <div class="form-group">
                        <label for="sel1">Mensualité:</label>
                        <input id="mens" type="text" class="js-range-slider" name="my_range" value="" />
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="form-group">
                                <button id="submit-button" type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-sm">Obtenez un pré-accord</button>
                            </div>
                        </div>


                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Résultat</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Montant Souhaité:</label>
                                            <input type="text" class="form-control" id="montant-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Durée:</label>
                                            <input type="text" class="form-control" id="duree-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Mensualité:</label>
                                            <input type="text" class="form-control" id="mens-name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>

</div>